/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

h1,
h4 {
  font-weight: bold;
}

/*main flex container */
.container {
  display:flex;
  flex-direction: column;
}

/* logo container */
.topcontainer {
display: flex;
justify-content: center;
width: 100%;
height: auto;
background-color: black;
}

.logo {
  width: 960px;
  background-color: black;
  margin: 0.66rem 0 0.66rem 0.5rem;
}

/*logo text*/
p {
  color: white;
  text-align: left;
}

/*logo image*/
.logo img {
  vertical-align: middle;
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;

}

/*header container */
.pageheader {
  display:flex;
  justify-content: center;
  height: 25rem;
}

.bkgimg1 {
  background-image: url("../../resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*header copy */
.headercopy {
  display:flex;
  flex-direction: column;
  width: 960px;
  height: auto;
  color: white;
  margin-top: 9rem;
}

.headercopy h1 {
  font-size: 2rem;
  padding: 0 0 2rem 3rem;
  width: 20rem;
  background-color: black;
}

.headercopy h2 {
  font-size: 1rem;
  padding: 2rem 0 0.25rem 3rem;
  background-color: black;
  width: 20rem;
}

/*navigation container */

.secondnav {
  display: flex;
  justify-content: space-around;
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.secondnav p {
 color: white;
 font-size: 1.0rem;
}

/* mobile navigation (not displayed on desktop) */
#mobsecondnav {
  display:none;
}

/* middle section container for products and company info */
.middlesection {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* flex container for products */
.products {
  display: flex;
  width: 960px;
  justify-content:space-between;
  padding-top: 3rem;
}

/*box for images*/
.imagebox {
  height: 9rem;
  width: 100%;
}

/* flex container for hours and locations */
.hourslocation {
  display: flex;
  width: 960px;
  justify-content:space-between;
  padding-top: 3rem;
}

/* copy right banner */
.copyright {
  width: 100%;
  padding: 5rem 0;
  background-color: black;
  margin-top: 4rem;
}



.bkgimg2 {
  background-image: url("../../resources/images/pen.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bkgimg3 {
  background-image: url("../../resources/images/watch.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bkgimg4 {
  background-image: url("../../resources/images/glasses.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*box around images */
.image, .imageglasses, .imagewatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
  width: 30%;
  height: auto;
}

/*image label boxes */
.image p, .imageglasses p, .imagewatch p {
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0px;
  background-color: black;
  width: 100%;
  text-align: center;
}

/*headers for company info */
.infoheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: auto;
  background-color: black;
}

.infoheader p {
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  width: 100%;
  text-align: left;
}

/*copywright box and copy */
.copyrighttext {
  height: auto;
  padding-left: 2rem;
  background-color: black;
}

.copyrighttext p {
  color: white;
  width: 100%;
  text-align: left;
}

/*tablet css */

@media only screen and (max-width: 1024px) {
  .image, .imageglasses, .imagewatch {
    width: 47%;
  }

/*last image not displayed on sizes between tablet and mobile */
  .imageglasses {
      display: none;
  }

/*desktop menu not displayed on mobile */
  #desktopmenu {
     display: none;
  }

/*mobile menu displayed on sizes tablet and under */
  #mobsecondnav {
    display:block;
  }

/*keeps middle section container same size when resizing for tablet and under */
  .products, .hourslocation {
  width: calc(100% - 100px);
  }

}

/*mobile css */
@media only screen and (max-width: 470px) {
  .image, .imageglasses, .imagewatch {
    width: 90%;
  }
/*last two images not displayed on mobile*/
  .imageglasses, .imagewatch {
      display: none;
  }

  #desktopmenu {
     display: none;
  }

  #mobsecondnav {
    display:block;
  }

  .products {
  width: calc(100% - 100px);
  justify-content: center;
  }

/*display company info headers on two separate linese*/
  .hourslocation {
  justify-content: center;
  flex-wrap: wrap;
  }

  .infoheader {
    width: 90%;
    margin-top:1rem;
  }

  .headercopy {
   width: 100%;
   margin-top: 12rem;
  }

  .headercopy h1 {
    font-size: 1rem;
    padding: 0 0 2rem 2rem;
    width: 100%;
  }

  .headercopy h2 {
    font-size: 0.77rem;
    padding: 2rem 0 0.25rem 2rem;
    width: 100%;
  }

  .pageheader {
    height: 19rem;
  }

  .copyrighttext p {
    text-align: center;
  }

  .copyrighttext{
    padding-left: 0px;
  }

}
